.up {
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 65px;
    right: 2rem;
    font-size: 25px;
}

@keyframes spinner-grow {
    0% {
      transform: scale(0);
    }
  
    50% {
      opacity: 1;
      transform: none;
    }
  }